<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card-header bg-purple">
                    <h3 class="card-title">Add Post Information</h3>
                </div>
                <form id="SubmitForm">
                    <div class="card-body">

                        <div class="mb-3">
                            <label for="title" class="form-label mb-2">Title</label>
                            <input type="text" name="title" class="form-control" id="title" placeholder="title">
                        </div>

                        <div class="mb-3">
                            <label for="image" class="form-label mb-2">Image</label>
                            <input type="file" name="image" class="form-control" id="previewImageInput"
                                placeholder="image">
                        </div>
                        <div class="mb-3">
                            <img id="displaySingleImge" width="200" height="200" class="img-fluid" alt="">
                        </div>

                        <div class="mb-3">
                            <label for="date" class="form-label mb-2">Post_Date</label>
                            <input type="date" name="date" class="form-control" id="date" placeholder="date">
                        </div>

                        <div class="mb-3">
                            <label for="comments" class="form-label mb-2">Comments</label>
                            <input type="number" name="comments" class="form-control" id="comments"
                                placeholder="comments">
                        </div>

                        <div class="mb-3">
                            <label for="author_id" class="form-label mb-2">Author</label>
                            <select name="author_id" data-selectbox="true" class="form-control select2" id="author">
                                <option value="" disabled selected>Select</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="desc" class="form-label mb-2">Desc</label>
                            <textarea name="desc" class="form-control summernote" id="desc"
                                placeholder="desc"></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="tagId" class="form-label mb-2">TagId</label>
                            <select name="tagId" multiple data-selectbox="true" class="form-control select2" id="tag">

                            </select>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button id="submitFormBtn" class="btn btn-dark">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>