<div class="container">
    <form id="SubmitForm">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header bg-purple">
                        <h3 class="card-title">Collection Name</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <label for="collection" class="form-label">Collection Name</label>
                                <input type="text" class="form-control" name="collection" id="collection"
                                    placeholder="eg: user, category">
                            </div>
                            <div class="col-4">
                                <label class="form-label">Others options</label>
                                <div class="d-flex gap-3 flex-wrap">
                                    <div class="form-check">
                                        <input class="form-check-input" name="timeStamp" type="checkbox"
                                            id="checkDefault">
                                        <label class="form-check-label" for="checkDefault">
                                            TimeStramp
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header bg-purple">
                        <h3 class="card-title">Add Field</h3>
                    </div>
                    <div class="card-body">
                        <div id="addField">
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button id="addFieldBtn" type="button" class="mb-3 btn btn-dark float-end">
                                    Add Field
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header bg-purple">
                        <h3 class="card-title">Add Field Relation</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="type" class="form-label">Fields</label>
                                <Select name="type" class="select2 form-control" id="type">
                                    <option value="">CategoryId</option>
                                    <option value="">UserId</option>
                                    <option value="">image</option>
                                </Select>
                            </div>
                            <div class="col-md-4">
                                <label for="collection_relation" class="form-label">Collections</label>
                                <Select name="type" class="select2 form-control" id="collection_relation">
                                    <option value="">Users</option>
                                    <option value="">Category</option>
                                    <option value="">Products</option>
                                </Select>
                            </div>
                        </div>
                        <button type="button" class="mb-3 btn btn-dark float-end">Create Relation</button>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row justify-content-center">
            <div class="col-4">
                <button id="submitFormBtn" class="btn btn-dark mb-3 mx-auto d-block">Generate</button>
            </div>
        </div>
    </form>
</div>