<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card card-primary">
        <div class="card-header bg-purple">
          <h3 class="card-title">Update Information</h3>
        </div>
        <form id="updateForm" enctype="application/x-www-form-urlencoded" data-id="<%= response._id %>">
          <div class="card-body">
            <div class="form-group mb-0">
              <input type="text" class="form-control" name="name" value="<%= response.name %>" placeholder="Name">
            </div>
            <div class="form-group mb-0">
              <input type="email" class="form-control" name="email" value="<%= response.email %>"  placeholder="email">
            </div>
            <div class="form-group mb-0">
              <input type="password" class="form-control" name="password" placeholder="password">
            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <button id="submitFormBtn" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- <input type="hidden" value="<%# api %>" id="apiInput"> -->