<div class="container">
        <div class="row">
            <div class="col-12">
            <div class="card card-primary">
                <div class="card-header bg-purple">
                <h3 class="card-title">Add Helo Information</h3>
                </div>
                <form id="SubmitForm">
                <div class="card-body">
                    
                <div class="mb-3">
                    <label for="title" class="form-label mb-2">Title</label>
                    <input type="text" name="title"  class="form-control" id="title" placeholder="title">
                </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button id="submitFormBtn" class="btn btn-dark">Submit</button>
                </div>
                </form>
            </div>
            </div>
        </div>
    </div>