<div class="container">
        <div class="row">
            <div class="col-12">
            <div class="card card-primary">
                <div class="card-header bg-purple">
                <h3 class="card-title">Add Xyz Information</h3>
                </div>
                <form id="SubmitForm">
                <div class="card-body">
                    
                <div class="mb-3">
                    <label for="title" class="form-label mb-2">Title</label>
                    <input type="text" name="title" class="form-control" id="title" placeholder="title">
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label mb-2">Image</label>
                    <input type="file" name="image" class="form-control" id="image" placeholder="image">
                </div>

                <div class="mb-3">
                    <label for="resume" class="form-label mb-2">Resume</label>
                    <input type="file" name="resume" class="form-control" id="resume" placeholder="resume">
                </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button id="submitFormBtn" class="btn btn-dark">Submit</button>
                </div>
                </form>
            </div>
            </div>
        </div>
    </div>